body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: blueviolet;
  font-size: 50px;
}
header {
  background-color: bisque;
  min-height: 40vh;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding-left: 50px;
}

.section {
  padding-top: 30px;
}

.benefits-content {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 20px;
}

.benefits-cart {
  background-color: rgb(83, 26, 61);
  color: azure;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 5%;
}

.benefits-title {
  margin-bottom: 20px;
}

.contact-form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
}

.input {
  padding: 10px 20px;
  border: 2px solid bisque;
  background-color: #464646;
  border-radius: 5px;
  color: white;
  transition: all 0.25s ease-out;
}

.input:focus {
  outline: none;
  border: 2px solid rgb(184, 107, 14);
}

.input::placeholder {
  color: white;
}

.button {
  padding: 10px;
  border: 0;
  cursor: pointer;
  background-color: rgb(207, 195, 24);
  border: radius 5px;
  font-weight: bold;
  transition: all 0.25s ease-out;
}

.button:hover {
  background-color: rgb(207, 154, 20);
}

@media (max-width: 600px) {
  .benefits-content {
    flex-direction: column;
    align-items: center;
  }

  .benefits-cart {
    width: 100%;
  }
}
